<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="annual_audit_executive_summary.Properties.Settings.EDConnectionString"
      connectionString="Dsn=ED;uid=mgr;pwd=Miwtdb*9" providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>